* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1132px;
  margin: 0 auto;
}
header {
  .top {
    height: 40px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #343a40;
    span,
    i {
      color: #343a40;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 6px;
        color: #343a40;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 27px;
      image {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
    }
  }
  .banner {
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .temperature {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .logo {
      img {
        width: 320px;
        height: 110px;
        object-fit: cover;
      }
    }
    .search {
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
      }
      input {
        padding: 25px;
        width: 200px;
        height: 40px;
        background-color: rgba(248, 249, 250, 1);
        border: none;
        outline: none;
      }
    }
  }
  .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    ul {
      display: flex;
      align-items: center;
      gap: 23px;
      li {
        list-style-type: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
main {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;
  .sidebar {
    .card {
      .item {
        padding: 20px 0;
        display: flex;
        align-items: center;
        gap: 16px;
        border-bottom: 1px solid gray;
        image {
          img {
            width: 120px;
            height: 80px;
            object-fit: cover;
            border-radius: 6px;
          }
        }
      }
    }
  }
  .main {
    max-width: 570px;
    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
    }
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 130%;
    }
    .description {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      color: #6c757d;
    }
  }
  .review {
    img {
      width: 270px;
      height: 180px;
      border-radius: 6px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      li {
        padding: 10px 0;
        list-style-type: none;
        border-bottom: 1px solid gray;
      }
    }
  }
}
